<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.gerardforcada.homeasback"
      version="0.1.0">

    <name>Home As Back</name>
    <keywords>ionic, back, home, cordova, android</keywords>

    <js-module src="www/IonicBack.js" name="IonicBack">
        <merges target="homeAsBack" />
    </js-module>


    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IonicBack">
                <param name="android-package" value="com.gerardforcada.homeasback.IonicBack"/>
            </feature>
        </config-file>

        <source-file src="src/android/IonicBack.java" target-dir="src/com/gerardforcada/homeasback" />

    </platform>

</plugin>